.constructor-container {
  min-height: 100vh;
  width: 100%;
  background-color: #EEEEEE;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: "Playfair Display";
}

.questionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 10px
}

.questionTop {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  min-width: 400px
}

.select-el {
  background-color: white;
  color: #357546;
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  min-width: 500px;
}

.optionContainer {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  max-width: 500px;

  input {
    width: 500px;
    outline: none;
  }

  input[type="checkbox"] {
    appearance: none;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: #357546;;
}

  input::placeholder {
    color: #357546;
  }
}

  .question-form {
  background-color: #f4f4f9;
  height: 100%;
  width: 50vw;
  margin: auto;
  padding-bottom: 30px;
}

.section {
  margin: auto;
  width: 50%;
}

.input-form-title {
  color: #357546;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.question-form-top-name,
.question-form-top-desc,
.questions {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 40px;
  max-width: 800px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #f4f4f9;
  color: black;
  height: 30px;
  margin-bottom:20px;
  background-color:white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 30px;
  border-radius: 20px;
}


.questions {
  font-size: 18px;
  height: 20px;
}

.add-question-top {
  display: flex;
}

.button-container {
  display:flex;
  gap:3rem;
}

.addButton {
  background-color: #357546;
  color: white;
  margin: 0;
  width: 20rem;
}

.deleteButton {
    height: 50px;
    width: 50px;
    padding: 0;
}

.publish-button {
  width: 440px;
  padding: 5px 30px;
}

.btn {
  border: none;
  background-color: white;
  border-radius: 20px;
  color:#357546;
}

label {
  margin: 0;
}

.input-type {
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 500px;
  border: none;
  padding: 10px 20px;
}

.input-type:disabled {
  background-color: rgb(183, 183, 183);
}

.input-type::placeholder {
  color: #357546;
}

.modal-block {
  color:#357546;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: bold;

  div {
    display: flex;
    gap: 30px;
    padding: 5px 0 10px 0;
  }

  input::placeholder {
    color: #357546;
    font-weight: bold;
  }
}

.modal-input-number {
    color: #357546;
    width: 12rem;
    height: 2rem;
    font-size: 14px;
}

.modal-input-message {
    color: #357546;
    width: 100%;
    height: 2rem;
    font-size: 14px;
}

.modal-button-el {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

    button {
    background-color: #357546;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px 80px;
    margin: 10px 0;
  }
}

.horizontal {
  width: 80%
}
