.wrapper {
  min-height: 100vh;
  background-color: #EEEEEE;
  font-weight: bold;
  font-family: "Playfair Display";
}

.title {
  color: #357546;
  font-size: 30px;
  font-weight: normal;
  padding-left: 10%;
  padding-top: 20px;
}